<%- include('partials/header'); -%>
<div class="container">
    <h1 style="text-align: center;">LOG-IN</h1>
    <!-- form data is included in the body of form and sent to action  -->
    <div style="width: 30%;margin:30px auto;">
        <form action="/login" method="POST">
            <div class="form-group">
                <!--for spacing-->
                <input type="text" name="username" placeholder="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" name="password" placeholder="Password" class="form-control" />
            </div>

            <div class="form-group">
                <button class="btn-large btn-dark btn-block">LOGIN!</button>
                <!--btn-block to make button acquire while length-->
            </div>

        </form>
    </div>

</div>
<%- include('partials/footer'); -%>